input {
  padding: 4px;
  border-radius: 5px;
  margin-bottom: 10px;
}

h3 {
  padding-top: 10px;
  color: #414040;
  font-size: 30px;
  line-height: 26px;
}

h6 {
  color: #555454;
}

li {
  position: relative;
  top: 20px;
  font-size: 14px;
  color: #555454;
  line-height: 20px;
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

.card.p-4.mt-4.rounded {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  margin: 0px auto;
  width: 30rem;
}

.overview {
  margin-bottom: -40px;
}

.main-temperature .main-temp {
  font-size: 54px;
  line-height: 1;
  font-weight: 400;
  position: relative;
  top: 30px;
  color: #414040;
}

.main-temperature .units {
  font-size: 16px;
  color: #555454;
  text-decoration: none;
}

.main-temperature img {
  position: relative;
  left: 120px;
  top: -40px;
}

.main-temperature .active {
  color: #414040;
  text-decoration: none;
  cursor: default;
}

.tableone,
.tabletwo {
  text-align: center;
  color: #555454;
}

.myName {
  color: #414040;
  text-align: center;
  margin: 10px 0px;
  font-size: 14px;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
}
